@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'calc';
    src: url('./fonts/digital-7\ \(mono\).ttf');
}

.font_calc {
    font-family: 'calc';
    user-select: none;
}